@model IndexViewModel

@using Sakura.AspNetCore.Mvc
@using Sakura.AspNetCore

<div class="container">

    <div class="LightGrayConteiner">

        <div class="row">

            <div class="col-md-2">
                <h3>Witaj @Model.Name </h3>
            </div>

            @{
                if (Model.Image.Length < 10)
                {
                    <div class="col-md-1">
                        <img src="~/images/DefaultUserPhoto.png" class="img-circle" style="width:100px; height:100px;" />
                    </div>
                }
                else
                {
                    var base64 = Convert.ToBase64String(Model.Image);
                    var patch = String.Format("data:image/gif;base64,{0}", base64);
                    <div class="col-md-1">
                        <img src='@patch' class="img-circle" style="width:100px; height:100px;" />
                    </div>
                }
            }


            <div class="col-md-7" style="text-align:center; padding-top:30px">
                <a asp-controller="Manage" asp-action="Index" class="btn button-purple" style="margin-bottom:5px; margin-top:5px"><strong>Moje ogloszenia</strong></a>
                <a asp-controller="Manage" asp-action="Obserwowane" class="btn button-purple-selected" style="margin-bottom:5px; margin-top:5px"><strong>Obserwowane</strong></a>
                <a asp-action="Ustawienia" class="btn button-purple"><strong>Ustawienia</strong></a>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-offset-2 col-md-8">

            @if (Model.Obserwowane.TotalCount == 0)
            {
                <div style="text-align:center; margin-top:40px;">
                    <h3>Nie obserwujesz żadnego ogłoszenia</h3>
                    <h4>Znajdź ogłoszenie odpowiadające Twoim wymaganiom i dodaj je do obserwowanych</h4>
                    <a asp-action="Index" asp-controller="Ogloszenie" class="btn button-blueBack-lg"><strong>OGŁOSZENIA</strong></a>
                </div>

            }

            <table class="table">

                @foreach (var item in Model.Obserwowane)
            {

                if (item.Ogloszenie.Miniature == null)
                {
                    ViewData["imgSrc"] = "~/images/DefaultOglPhoto.png";
                }
                else
                {
                    var base64 = Convert.ToBase64String(item.Ogloszenie.Miniature);
                    ViewData["imgSrc"] = String.Format("data:image/gif;base64,{0}", base64);
                }

                <tr>
                    <td class="col-lg-1 col-md-1 col-sm-2">
                        <img src='@ViewData["imgSrc"]' class="img-rounded" style="max-width:180px; max-height:180px;" asp-append-version="true" />
                    </td>
                    <td>
                        <div>
                            <a asp-controller="Ogloszenie" asp-action="Details" asp-route-id="@item.OgloszenieId"><h4 style="color:#4a94a3"><strong>@item.Ogloszenie.Tytul</strong></h4></a>
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Ogloszenie.Kategoria.Nazwa)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Ogloszenie.Miasto.Nazwa)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Ogloszenie.Cena)
                        </div>
                        <p />
                        <div>
                            @Html.DisplayFor(modelItem => item.Ogloszenie.DataDodania)
                        </div>
                    </td>
                    <td>
                        <a asp-controller="Ogloszenie" asp-action="Edit" asp-route-id="@item.OgloszenieId">Edytuj</a> |
                        <a asp-controller="Ogloszenie" asp-action="Delete" asp-route-id="@item.OgloszenieId">Usun</a>
                    </td>
                </tr>
                }
            </table>

            @if (Model.Obserwowane.TotalCount > 0)
            {

                <div style="text-align:center">
                    <pager source="Model.Obserwowane" />
                </div>

            }

        </div>

    </div>

</div>

<div style="height:500px;"></div>