@model Wynajme_AspNetCore_v2.Models.UserViewModel.UserIndexViewModel

@using Sakura.AspNetCore.Mvc
@using Sakura.AspNetCore

<div style="background-color:#116597;">
    <div class="container">
        <div style="padding-top:20px; padding-bottom:30px; text-align: left">
            <div class="header">
                <strong>
                    <span class="glyphicon glyphicon-user"></span>
                    Informacje o uzytkowniku
                </strong>
            </div>
            <div class="paragraph">
                <span class="glyphicon glyphicon-envelope"></span>
                Skontaktuj sie z uzytkownikiem aby poznac szczegoły dotyczące interesujuacych Cie ogloszen!
            </div>
        </div>
    </div>
</div>


<div class="container">

    @if (User.IsInRole("Admin"))
    {
        <div class="row admin-panel" style="margin-top:5px;">
            <h3 class="admin-panel-text">Opcje administratora</h3>
            <a asp-controller="User" asp-action="Edit" class="btn button-purpleBack" style="width:250px;">Edytuj</a>
            <a asp-controller="User" asp-action="Delete" asp-route-userid="@Model.UserId" class="btn button-purpleBack" style="width:250px;">Usun</a>
        </div>
    }

    <div class="LightGrayConteiner">
        <div class="row">
            <h3 class="col-md-2"> @*@Model.Name @Model.LastName*@</h3>
            <div class="col-md-2">
                @{
                    if (Model.UserImage.Length < 10)
                    {
                        <img src="~/images/DefaultUserPhoto.png" class="img-circle" style="width:130px; height:130px;" />
                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(Model.UserImage);
                        var patch = String.Format("data:image/gif;base64,{0}", base64);
                        <img src='@patch' class="img-circle" style="width:130px; height:130px;" />
                    }
                }
            </div>
            <div class="col-md-5">

                <div class="row">
                    <h4 class="col-md-5"><span class="glyphicon glyphicon-phone-alt"></span> Numer telefonu:</h4>
                    <h4>@Model.PhoneNumber</h4>
                </div>

                <div class="row">
                    <h4 class="col-md-5"><span class="glyphicon glyphicon-envelope"></span> E-mail:</h4>
                    <h4>@Model.Email</h4>
                </div>

                <div class="row">
                    <h4 class="col-md-5"><span class="glyphicon glyphicon-calendar"></span> Data rejestracji:</h4>
                    <h4>@Html.DisplayFor(modelItem => Model.RegisterDate)</h4>
                </div>

            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2">
        </div>

        <div class="col-md-8">

            @Html.Partial("_OgloszenieTablePartial", Model.Ogloszenia)

            <div style="text-align:center">
                <pager source="Model.Ogloszenia" />
            </div>

        </div>

    </div>

</div>

<div style="height:500px;"></div>


