@model Wynajme_AspNetCore_v2.Models.Ogloszenie

@{
    ViewData["Title"] = "Dodaj";
    var kategorie = (IEnumerable<SelectListItem>)ViewData["KategoriaId"];
    var miasta = (IEnumerable<SelectListItem>)ViewData["MiastoId"];
    var IsUserIn = (int)ViewData["IsUserLoggIn"];
}

@if (IsUserIn == 0)
{
    <div style="background-color:#116597;">
        <div class="container">
            <div class="col-md-7" style="padding-top:30px;text-align: left">
                <div class="header"><strong>Nie jestes zalogowany!</strong></div>
                <div class="paragraph">Zaloguj sie aby moc pozniej edytowac swoje ogloszenia!</div>
            </div>
            <div class="col-md-5" style="padding-top:30px;text-align: center">
                <a asp-action="Login" asp-controller="Account" class="btn button-blueBack-lg" style="margin:5px; width:260px;"><strong>ZALOGUJ</strong></a>
                <a asp-action="Register" asp-controller="Account" class="btn button-purpleBack-lg" style="margin:5px; margin-bottom:20px; width:260px;"><strong>REJESTRUJ</strong></a>
            </div>
        </div>
    </div>
}

<div class="container">
    <h1>Dodaj ogloszenie</h1>

    <form asp-action="Create" id="CreateForm" enctype="multipart/form-data">
        <div class="form-horizontal">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Tytul" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="Tytul" placeholder="Tytul ogloszenia..." class="form-control" />
                    <span asp-validation-for="Tytul" class="text-danger" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Tresc" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <textarea asp-for="Tresc" style="height:250px;" placeholder="Tresc ogloszenia..." class="form-control"></textarea>
                    <span asp-validation-for="Tresc" class="text-danger" />
                </div>
            </div>

            <div class="col-md-offset-2">
                <div id="image-holder"> </div>

                <label class="btn button-purpleBack btn-file" for="miniatureInput" style="width:250px;">
                    <input id="images" type="file" name="images" multiple /> <strong>Dodaj zdjecia</strong>
                </label>
            </div>

            <h3>Szczegoly</h3>
            <hr />

            <div class="form-group">
                <label asp-for="Cena" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    <input asp-for="Cena" class="form-control" />
                    <span asp-validation-for="Cena" class="text-danger" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="KategoriaId" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    <select asp-for="KategoriaId" asp-items="kategorie" class="form-control"></select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="MiastoId" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    <select asp-for="MiastoId" asp-items="miasta" class="form-control"></select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Powierzchnia" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    <input asp-for="Powierzchnia" class="form-control" />
                    <span asp-validation-for="Powierzchnia" class="text-danger" />
                </div>
            </div>

            <h3>Wyposazenie</h3>
            <hr />

            <div class="form-group">
                <label class="col-md-2 control-label">Kuchnia</label>
                <div class="col-md-2">

                    <div class="checkbox">
                        <label asp-for="Zmywarka">
                            <input asp-for="Zmywarka" />
                            @Html.DisplayNameFor(m => m.Zmywarka)
                        </label>
                    </div>

                    <div class="checkbox">
                        <label asp-for="Lodowka">
                            <input asp-for="Lodowka" />
                            @Html.DisplayNameFor(m => m.Lodowka)
                        </label>
                    </div>

                    <div class="checkbox">
                        <label asp-for="Mikrofala">
                            <input asp-for="Mikrofala" />
                            @Html.DisplayNameFor(m => m.Mikrofala)
                        </label>
                    </div>

                    <div class="checkbox">
                        <label asp-for="KuchniaGaz">
                            <input asp-for="KuchniaGaz" />
                            @Html.DisplayNameFor(m => m.KuchniaGaz)
                        </label>
                    </div>

                    <div class="checkbox">
                        <label asp-for="KuchniaEl">
                            <input asp-for="KuchniaEl" />
                            @Html.DisplayNameFor(m => m.KuchniaEl)
                        </label>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Lazienka</label>
                <div class="col-md-2">

                    <div class="checkbox">
                        <label asp-for="Pralka">
                            <input asp-for="Pralka" />
                            @Html.DisplayNameFor(m => m.Pralka)
                        </label>
                    </div>

                    <div class="checkbox">
                        <label asp-for="Wanna">
                            <input asp-for="Wanna" />
                            @Html.DisplayNameFor(m => m.Wanna)
                        </label>
                    </div>

                    <div class="checkbox">
                        <label asp-for="Prysznic">
                            <input asp-for="Prysznic" />
                            @Html.DisplayNameFor(m => m.Prysznic)
                        </label>
                    </div>

                </div>
            </div>


            <div class="form-group">
                <label asp-for="DodatkoweWyposazenie" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="DodatkoweWyposazenie" class="form-control" />
                    <span asp-validation-for="DodatkoweWyposazenie" class="text-danger" />
                </div>
            </div>


            <h3>Kontakt</h3>
            <hr />

            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="Email" value="@ViewData["UserEmail"]" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Telefon" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    <input asp-for="Telefon" value="@ViewData["UserPhone"]" class="form-control" />
                    <span asp-validation-for="Telefon" class="text-danger"></span>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="LightGrayConteiner" style="text-align:center">
                    <input type="submit" value="Dodaj ogloszenie" class="btn button-purpleBack" style="width:250px;" />
                    @*<a asp-action="Index" class="btn button-purpleBack" style="width:250px;">Wroc do listy ogloszen</a>*@
                </div>
            </div>
        </div>
    </form>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Ogloszenie/Create.js"></script>
}
