@model Wynajme_AspNetCore_v2.Models.OgloszenieViewModel.OgloszenieDetailsViewModel

@{
    ViewData["Title"] = Model.Ogloszenie.Tytul;
    string imageString = "~/images/DefaultOglPhoto.png";
}

<div class="container" style="padding-top:10px">

    @* ------------ Top navbar -------------- *@
    <div class="row">
        @if (User.IsInRole("Admin"))
        {
            <div class="row admin-panel">
                <h3 class="admin-panel-text">Opcje administratora</h3>
                <a asp-controller="Ogloszenie" asp-action="Edit" asp-route-id="@Model.Ogloszenie.OgloszenieId" class="btn button-purpleBack" style="width:250px;">Edytuj</a>
                <a asp-controller="Ogloszenie" asp-action="Delete" asp-route-id="@Model.Ogloszenie.OgloszenieId" class="btn button-purpleBack" style="width:250px;">Usun</a>
            </div>
        }
        <h2>@Model.Ogloszenie.Tytul</h2>
        <hr />
        <div class="col-md-1">
            <p>Lokalizacja:</p>
            <p>Kategoria:</p>
        </div>
        <div class="col-md-3">
            <p><a asp-controller="Ogloszenie" asp-action="Index" asp-route-miasto="@Model.Ogloszenie.Miasto.Nazwa">@Model.Ogloszenie.Miasto.Nazwa</a></p>
            <p><a asp-controller="Ogloszenie" asp-action="Index" asp-route-kategoria="@Model.Ogloszenie.Kategoria.Nazwa">@Model.Ogloszenie.Kategoria.Nazwa</a></p>
        </div>
        <div class="col-md-4">
            @{
                if (Model.Obserwowane == true)
                {
                    <p>Obserwujesz <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
                }
                else if(Model.LogInUserId != null)
                {
                    <p><a asp-controller="Ogloszenie" asp-action="Obserwuj" asp-route-id="@Model.Ogloszenie.OgloszenieId"> Obserwuj</a></p>
                }
                else if (Model.LogInUserId == null)
                {
                    <p><a asp-controller="Account" asp-action="Login"> Obserwuj</a></p>
                }
            }         
            <p><a asp-controller="Ogloszenie" asp-route-miasto="@Model.Ogloszenie.Miasto.Nazwa" asp-route-kategoria="@Model.Ogloszenie.Kategoria.Nazwa" asp-action="Index">Podobne ogloszenia</a></p>
            <p><a asp-controller="Ogloszenie" asp-action="Create">Dodaj ogloszenie</a></p>
        </div>
        <div class="col-md-1">
            @{
                if (Model.Ogloszenie.UserId != null)
                {
                    <h4>@Model.Ogloszenie.User.Name</h4>
                    <a asp-controller="User" asp-action="Index" asp-route-userid="@Model.Ogloszenie.UserId"><p>Profil</p></a>
                    <a asp-controller="User" asp-action="Index" asp-route-userid="@Model.Ogloszenie.UserId"><p>Ogloszenia</p></a>
                }
                else
                {
                    <h4>Dodane przez</h4>
                    <h5>Nieznanego</h5>
                    <h5>Uzytkownika</h5>
                }

            }
            
            
        </div>
        <div class="col-md-2" style="text-align:center">

            @{ 
                if (Model.Ogloszenie.UserId == null)
                {
                    imageString = "/images/DefaultUserPhoto.png";
                }
                else
                {
                    if (Model.Ogloszenie.User.Image.Length < 10)
                    {
                        imageString = "/images/DefaultUserPhoto.png";
                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(Model.Ogloszenie.User.Image);
                        imageString = String.Format("data:image/gif;base64,{0}", base64);
                    }
                }
            }
            <a asp-controller="User" asp-action="Index" asp-route-userid="@Model.Ogloszenie.UserId">
                <img src=@imageString class="img-circle" style="width:100px; height:100px;" />
            </a>
        </div>
        <div class="col-md-1"></div>
    </div>

    <hr />

    <div class="col-md-1"></div>

    @* ------------ content -------------- *@
    <div class="col-md-6">

        <div class="fotorama"
             data-nav="thumbs"
             data-allowfullscreen="true"
             data-loop="true"
             data-keyboard="true"
             data-width="100%"
             data-ratio="800/600">

            @foreach (var img in Model.Ogloszenie.Image)
            {
                var base64 = Convert.ToBase64String(img.ImageContent);
                imageString = String.Format("data:image/gif;base64,{0}", base64);

                <img src="@imageString" />
            }

        </div>

        <div class="LightGrayConteiner LightGrayConteiner-text">
            @Model.Ogloszenie.Tresc
        </div>

        <div class="LightGrayConteiner LightGrayConteiner-text">
            <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Telefon: <span style="color:#1f5660">@Model.Ogloszenie.Telefon</span></p>
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> E-mail: <span style="color:#1f5660">@Model.Ogloszenie.Email</span></p>
        </div>

        <hr />

    </div>

    @* ------------ right bar -------------- *@
    <div class="col-md-4">

        <div>
            <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> @Html.DisplayFor(modelItem => Model.Ogloszenie.DataDodania)</p>
        </div>

        <div class="LightGrayConteiner LightGrayConteiner-text">
            <h1 style="text-align:center"><strong>@Model.Ogloszenie.Cena zl</strong></h1>
        </div>

        <div class="LightGrayConteiner LightGrayConteiner-text">
            <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span>    Powierzchnia: @Model.Ogloszenie.Powierzchnia mkw</p>
            @{
                if (Model.Ogloszenie.Zmywarka == true)
                {<p><span class="glyphicon glyphicon-glass" aria-hidden="true"></span>  Zmywarka</p>}
                if (Model.Ogloszenie.Lodowka == true)
                {<p><span class="glyphicon glyphicon-apple" aria-hidden="true"></span>  Lodowka</p>}
                if (Model.Ogloszenie.Mikrofala == true)
                {<p><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>  Mikrofalowka</p>}
                if (Model.Ogloszenie.KuchniaGaz == true)
                {<p><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>  Kuchnia gazowa</p>}
                if (Model.Ogloszenie.KuchniaEl == true)
                {<p><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>  Kuchnia elektryczna</p>}
                if (Model.Ogloszenie.Pralka == true)
                {<p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>  Pralka</p>}
                if (Model.Ogloszenie.Wanna == true)
                {<p><span class="glyphicon glyphicon-tint" aria-hidden="true"></span>  Wanna</p>}
                if (Model.Ogloszenie.Prysznic == true)
                {<p><span class="glyphicon glyphicon-tint" aria-hidden="true"></span>  Prysznic</p>}

                if (@Model.Ogloszenie.DodatkoweWyposazenie != null)
                {
                    <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span> @Model.Ogloszenie.DodatkoweWyposazenie</p>
                }
            }
        </div>

        <div style="text-align:center;" class="LightGrayConteiner">
            <a asp-action="Create" asp-controller="Ogloszenie" class="btn button-purple-lg">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Dodaj swoje ogloszenie
            </a>
        </div>

        <div style="text-align:center; margin-top:20px; margin-bottom:20px;">
            <h2>Zobacz podobne ogloszenia</h2>
        </div>

        @foreach (var item in Model.PodobneOgloszenia)
        {
            imageString = "~/images/DefaultOglPhoto.png";

            if(item.Miniature != null)
            {
                var base64 = Convert.ToBase64String(item.Miniature);
                imageString = String.Format("data:image/gif;base64,{0}", base64);
            }

            <div class="col-md-12" style="text-align:center">
                <a asp-controller="Ogloszenie" asp-action="Details" asp-route-id="@item.OgloszenieId" style="height:175px;">
                    <img src='@imageString' class="img-rounded" style="height:inherit;" asp-append-version="true" />
                </a>
                <div>
                    <a asp-controller="Ogloszenie" asp-action="Details" asp-route-id="@item.OgloszenieId"><h4 style="color:#358796;">@item.Tytul</h4></a>
                </div>

                <div>
                    <p>
                        Lokalizacja:
                        <a asp-controller="Ogloszenie" asp-action="Index" asp-route-miasto="@Model.Ogloszenie.Miasto.Nazwa">@item.Miasto.Nazwa</a>
                        <br />
                        Kategoria:
                        <a asp-controller="Ogloszenie" asp-action="Index" asp-route-kategoria="@Model.Ogloszenie.Kategoria.Nazwa">@item.Kategoria.Nazwa</a>
                        <br />
                        <br />
                    </p>
                </div>
            </div>
        }

    </div> @* right bar *@

    <div class="col-md-1"></div>

</div> @* main conteiner *@


