@model Wynajme_AspNetCore_v2.Models.OgloszenieViewModel.OgloszenieDetailsViewModel

@{
    ViewData["Title"] = "Szczegoly";
}

<div class="container" style="padding-top:10px">

    @* ------------ Top navbar -------------- *@
    <div class="row">
        @if (User.IsInRole("Admin"))
        {
            <div class="row admin-panel">
                <h3 class="admin-panel-text">Opcje administratora</h3>
                <a asp-controller="Ogloszenie" asp-action="Edit" asp-route-id="@Model.OgloszenieId" class="btn button-purpleBack" style="width:250px;">Edytuj</a>
                <a asp-controller="Ogloszenie" asp-action="Delete" asp-route-id="@Model.OgloszenieId" class="btn button-purpleBack" style="width:250px;">Usun</a>
            </div>
        }
        <h2>@Model.Tytul</h2>
        <hr />
        <div class="col-md-1">
            <p>Lokalizacja:</p>
            <p>Kategoria:</p>
        </div>
        <div class="col-md-3">
            <p><a asp-controller="Ogloszenie" asp-action="Index" asp-route-miasto="@Model.Miasto.Nazwa">@Model.Miasto.Nazwa</a></p>
            <p><a asp-controller="Ogloszenie" asp-action="Index" asp-route-kategoria="@Model.Kategoria.Nazwa">@Model.Kategoria.Nazwa</a></p>
        </div>
        <div class="col-md-4">
            @{
                if (Model.Obserwowane == true)
                {
                    <p>Obserwujesz <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
                }
                else if(Model.LogInUserId != null)
                {
                    <p><a asp-controller="Ogloszenie" asp-action="Obserwuj" asp-route-id="@Model.OgloszenieId"> Obserwuj</a></p>
                }
                else if (Model.LogInUserId == null)
                {
                    <p><a asp-controller="Account" asp-action="Login"> Obserwuj</a></p>
                }
            }         
            <p><a asp-controller="Ogloszenie" asp-route-miasto="@Model.Miasto.Nazwa" asp-route-kategoria="@Model.Kategoria.Nazwa" asp-action="Index">Podobne ogloszenia</a></p>
            <p><a asp-controller="Ogloszenie" asp-action="Create">Dodaj ogloszenie</a></p>
        </div>
        <div class="col-md-1">
            @{
                if (Model.UserId != null)
                {
                    <h4>@Model.UserName</h4>
                    <a asp-controller="User" asp-action="Index" asp-route-userid="@Model.UserId"><p>Profil</p></a>
                    <a asp-controller="User" asp-action="Index" asp-route-userid="@Model.UserId"><p>Ogloszenia</p></a>
                }
                else
                {
                    <h4>Dodane przez</h4>
                    <h5>Nieznanego</h5>
                    <h5>Uzytkownika</h5>
                }

            }
            
            
        </div>
        <div class="col-md-2" style="text-align:center">
            <img src=@Model.UserImageString class="img-circle" style="width:100px; height:100px;" />
        </div>
        <div class="col-md-1"></div>
    </div>

    <hr />

    <div class="col-md-1"></div>

    @* ------------ content -------------- *@
    <div class="col-md-6">

        <div class="fotorama"
             data-nav="thumbs"
             data-allowfullscreen="true"
             data-loop="true"
             data-keyboard="true"
             data-width="100%"
             data-ratio="800/600">

            @foreach (var img in Model.ImageString)
            {
                <img src="@img" />
            }

        </div>

        <div class="LightGrayConteiner LightGrayConteiner-text">
            @Model.Tresc
        </div>

        <div class="LightGrayConteiner LightGrayConteiner-text">
            <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Telefon: <span style="color:#1f5660">@Model.Telefon</span></p>
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> E-mail: <span style="color:#1f5660">@Model.Email</span></p>
        </div>

        <hr />
        @*
        <div class="row">
            <div class="col-md-1"> </div>
            <div class="col-md-10" style="text-align:center">
                <h3>Zapytaj o szczegoly!</h3>
                <input type="text" placeholder="Twoj E-mail" class="form-control" />
                <div style="padding-top:10px;"></div>
                <input type="text" placeholder="Tytul wiadomosci" class="form-control" />
                <div style="padding-top:10px;"></div>
                <textarea style="height:250px;" placeholder="Tresc wiadomosci" class="form-control"></textarea>
                <div style="padding-top:10px;"></div>
                <a asp-controller="Ogloszenie" asp-action="Index" class="btn button-purple-lg" style="width:50%">Wyslij</a>
            </div>
            <div class="col-md-1"> </div>
        </div>
         *@

    </div>

    @* ------------ right bar -------------- *@
    <div class="col-md-4">

        <div>
            <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> @Html.DisplayFor(modelItem => Model.DataDodania)</p>
        </div>

        <div class="LightGrayConteiner LightGrayConteiner-text">
            <h1 style="text-align:center"><strong>@Model.Cena zl</strong></h1>
        </div>

        <div class="LightGrayConteiner LightGrayConteiner-text">
            <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span>    Powierzchnia: @Model.Powierzchnia mkw</p>
            @{
                if (Model.Zmywarka == true)
                {<p><span class="glyphicon glyphicon-glass" aria-hidden="true"></span>  Zmywarka</p>}
                if (Model.Lodowka == true)
                {<p><span class="glyphicon glyphicon-apple" aria-hidden="true"></span>  Lodowka</p>}
                if (Model.Mikrofala == true)
                {<p><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>  Mikrofalowka</p>}
                if (Model.KuchniaGaz == true)
                {<p><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>  Kuchnia gazowa</p>}
                if (Model.KuchniaEl == true)
                {<p><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>  Kuchnia elektryczna</p>}
                if (Model.Pralka == true)
                {<p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>  Pralka</p>}
                if (Model.Wanna == true)
                {<p><span class="glyphicon glyphicon-tint" aria-hidden="true"></span>  Wanna</p>}
                if (Model.Prysznic == true)
                {<p><span class="glyphicon glyphicon-tint" aria-hidden="true"></span>  Prysznic</p>}

                if (@Model.DodatkoweWyposazenie != null)
                {
                    <p><span class="glyphicon glyphicon-star" aria-hidden="true"></span> @Model.DodatkoweWyposazenie</p>
                }


            }
        </div>

        <div style="text-align:center;" class="LightGrayConteiner">
            <a asp-action="Create" asp-controller="Ogloszenie" class="btn button-purple-lg">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Dodaj swoje ogloszenie
            </a>
        </div>

        <div style="text-align:center; margin-top:20px; margin-bottom:20px;">
            <h2>Zobacz podobne ogloszenia</h2>
        </div>

        @foreach (var item in Model.PodobneOgloszenia)
        {
            <div class="col-md-12" style="text-align:center">
                <div style="height:175px;">
                    <img src='@item.MiniatureString' class="img-rounded" style="height:inherit;" asp-append-version="true" />
                </div>
                <div>
                    <a asp-controller="Ogloszenie" asp-action="Details" asp-route-id="@item.OgloszenieId"><h4 style="color:#358796;">@item.Tytul</h4></a>
                </div>

                <div>
                    <p>
                        Lokalizacja:
                        <a asp-controller="Ogloszenie" asp-action="Index" asp-route-miasto="@Model.Miasto.Nazwa">@item.Miasto.Nazwa</a>
                        <br />
                        Kategoria:
                        <a asp-controller="Ogloszenie" asp-action="Index" asp-route-kategoria="@Model.Kategoria.Nazwa">@item.Kategoria.Nazwa</a>
                        <br />
                        <br />
                    </p>
                </div>
            </div>
        }

    </div> @* right bar *@

    <div class="col-md-1"></div>

</div> @* main conteiner *@



@*
<div style="height:200px;"></div>

<div style="background-color:#f0f0f0; height:120px;">
    <div class="container" style="padding-top:20px">
        <div class="row">
            <div class="col-md-1" style="padding-top:10px;">
            </div>
            <div>
                <h5 style="color:#a89999">Wynajme.pl</h5>
                <h5 style="color:#a89999">2016 - Gann Projects</h5>
            </div>
        </div>
    </div>
</div>
*@

