@model Wynajme_AspNetCore_v2.Models.OgloszenieViewModel.OgloszenieIndexViewModel

@using Sakura.AspNetCore.Mvc
@using Sakura.AspNetCore

@{ 
    ViewData["Title"] = "Lista ogloszen";
}


<div class="container">

@if (User.IsInRole("Admin"))
{
    <div class="row admin-panel">
        <h3 class="admin-panel-text">Opcje administratora</h3>
        <a asp-controller="Ogloszenie" asp-action="Edit" class="btn button-purpleBack" style="width:250px;">Usun wszystkie</a>
    </div>
}

    @* ----------- top navbar ------------- *@
    <div class="LightGrayConteiner">
        <form asp-controller="Ogloszenie"
              asp-action="Index"
              asp-route-miasto="@Model.AktualneMiasto"
              asp-route-cenaod="@Model.CenaOd"
              asp-route-cenado="@Model.CenaDo"
              asp-route-kategoria="@Model.AktualnaKategoria"
              asp-route-sortorder="@Model.SortOrderRoute"
              asp-route-zmywarka="@Model.Zmywarka"
              asp-route-lodowka="@Model.Lodowka"
              asp-route-mikrofala="@Model.Mikrofala"
              asp-route-kuchniagaz="@Model.KuchniaGaz"
              asp-route-kuchniael="@Model.KuchniaEl"
              asp-route-pralka="@Model.Pralka"
              asp-route-wanna="@Model.Wanna"
              asp-route-prysznic="@Model.Prysznic"
              method="get">
            <div class="container" style="padding-top:20px; text-align:center">
                <div class="btn-group">
                    <input type="text" name="SearchString" class="PurpleTextImput" value="@Model.SearchString" style="width:300px;" />
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn button-purple-lg">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Szukaj
                    </button>
                </div>
            </div>
        </form>
        <div class="container" style="text-align:center;padding-top:10px">
            <div>
                @foreach (var item in Model.Kategorie)
                {
                    <a asp-controller="Ogloszenie" asp-action="Index" asp-route-kategoria="@item.Nazwa" class="btn button-purple">
                        @item.Nazwa
                    </a>
                }
            </div>
        </div>
    </div> @* top navbar *@

    @* ----------- left navbar ------------- *@
    <div class="row col-md-3">
        <div class="LightGrayConteiner">
            <div class="dropdown">
                <button class="btn button dropdown-toggle" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">                   
                        @if (Model.AktualnaKategoria == null)
                        {
                            <span>Wszystkie kategorie</span>
                        }
                        else
                        {
                            @Model.AktualnaKategoria
                        }
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a asp-controller="Ogloszenie"
                           asp-action="Index"
                           asp-route-searchString="@Model.SearchStringRoute"
                           asp-route-miasto="@Model.AktualneMiasto"
                           asp-route-cenaod="@Model.CenaOd"
                           asp-route-cenado="@Model.CenaDo"
                           asp-route-sortorder="@Model.SortOrderRoute"
                           asp-route-pagesize="@Model.PageSize"
                           asp-route-zmywarka="@Model.Zmywarka"
                           asp-route-lodowka="@Model.Lodowka"
                           asp-route-mikrofala="@Model.Mikrofala"
                           asp-route-kuchniagaz="@Model.KuchniaGaz"
                           asp-route-kuchniael="@Model.KuchniaEl"
                           asp-route-pralka="@Model.Pralka"
                           asp-route-wanna="@Model.Wanna"
                           asp-route-prysznic="@Model.Prysznic">
                            Wszystkie kategorie
                        </a>
                    </li>
                    <li class="divider"></li>
                    @foreach (var k in Model.Kategorie)
                    {
                        <li>
                            <a asp-controller="Ogloszenie"
                               asp-action="Index"
                               asp-route-searchString="@Model.SearchStringRoute"
                               asp-route-kategoria="@k.Nazwa"
                               asp-route-miasto="@Model.AktualneMiasto"
                               asp-route-cenaod="@Model.CenaOd"
                               asp-route-cenado="@Model.CenaDo"
                               asp-route-sortorder="@Model.SortOrderRoute"
                               asp-route-pagesize="@Model.PageSize"
                               asp-route-zmywarka="@Model.Zmywarka"
                               asp-route-lodowka="@Model.Lodowka"
                               asp-route-mikrofala="@Model.Mikrofala"
                               asp-route-kuchniagaz="@Model.KuchniaGaz"
                               asp-route-kuchniael="@Model.KuchniaEl"
                               asp-route-pralka="@Model.Pralka"
                               asp-route-wanna="@Model.Wanna"
                               asp-route-prysznic="@Model.Prysznic">
                                @k.Nazwa
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <p />
            <div class="dropdown">
                <button class="btn button dropdown-toggle" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        @if (Model.AktualneMiasto == null)
                        {
                            <span>Wszystkie miasta</span>
                        }
                        else
                        {
                            @Model.AktualneMiasto
                        }                   
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li>
                        <a asp-controller="Ogloszenie"
                           asp-action="Index"
                           asp-route-searchString="@Model.SearchStringRoute"
                           asp-route-kategoria="@Model.AktualnaKategoria"
                           asp-route-cenaod="@Model.CenaOd"
                           asp-route-cenado="@Model.CenaDo"
                           asp-route-sortorder="@Model.SortOrderRoute"
                           asp-route-pagesize="@Model.PageSize"
                           asp-route-zmywarka="@Model.Zmywarka"
                           asp-route-lodowka="@Model.Lodowka"
                           asp-route-mikrofala="@Model.Mikrofala"
                           asp-route-kuchniagaz="@Model.KuchniaGaz"
                           asp-route-kuchniael="@Model.KuchniaEl"
                           asp-route-pralka="@Model.Pralka"
                           asp-route-wanna="@Model.Wanna"
                           asp-route-prysznic="@Model.Prysznic">
                            Wszystkie miasta
                        </a>
                    </li>
                    <li class="divider"></li>
                    @foreach (var m in Model.Miasta)
                    {
                        <li>
                            <a asp-controller="Ogloszenie"
                               asp-action="Index"
                               asp-route-searchString="@Model.SearchStringRoute"
                               asp-route-kategoria="@Model.AktualnaKategoria"
                               asp-route-miasto="@m.Nazwa"
                               asp-route-cenaod="@Model.CenaOd"
                               asp-route-cenado="@Model.CenaDo"
                               asp-route-sortorder="@Model.SortOrderRoute"
                               asp-route-pagesize="@Model.PageSize"
                               asp-route-zmywarka="@Model.Zmywarka"
                               asp-route-lodowka="@Model.Lodowka"
                               asp-route-mikrofala="@Model.Mikrofala"
                               asp-route-kuchniagaz="@Model.KuchniaGaz"
                               asp-route-kuchniael="@Model.KuchniaEl"
                               asp-route-pralka="@Model.Pralka"
                               asp-route-wanna="@Model.Wanna"
                               asp-route-prysznic="@Model.Prysznic">
                                @m.Nazwa
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <h4>Cena:</h4>
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn button dropdown-toggle" type="button" id="dropdownMenu3"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            @if (Model.CenaOd == null)
                            {
                                <span>--</span>
                            }
                            else
                            {
                                @Model.CenaOd.ToString()
                            }
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <li>
                            <a asp-controller="Ogloszenie"
                               asp-action="Index"
                               asp-route-searchString="@Model.SearchStringRoute"
                               asp-route-kategoria="@Model.AktualnaKategoria"
                               asp-route-miasto="@Model.AktualneMiasto"
                               asp-route-cenado="@Model.CenaDo"
                               asp-route-sortorder="@Model.SortOrderRoute"
                               asp-route-pagesize="@Model.PageSize"
                               asp-route-zmywarka="@Model.Zmywarka"
                               asp-route-lodowka="@Model.Lodowka"
                               asp-route-mikrofala="@Model.Mikrofala"
                               asp-route-kuchniagaz="@Model.KuchniaGaz"
                               asp-route-kuchniael="@Model.KuchniaEl"
                               asp-route-pralka="@Model.Pralka"
                               asp-route-wanna="@Model.Wanna"
                               asp-route-prysznic="@Model.Prysznic">
                                --
                            </a>
                        </li>
                        <li class="divider"></li>
                        @foreach (var c in Model.CenaOdList)
                        {
                            <li>
                                <a asp-controller="Ogloszenie"
                                   asp-action="Index"
                                   asp-route-searchString="@Model.SearchStringRoute"
                                   asp-route-kategoria="@Model.AktualnaKategoria"
                                   asp-route-miasto="@Model.AktualneMiasto"
                                   asp-route-cenaod="@c"
                                   asp-route-cenado="@Model.CenaDo"
                                   asp-route-sortorder="@Model.SortOrderRoute"
                                   asp-route-pagesize="@Model.PageSize"
                                   asp-route-zmywarka="@Model.Zmywarka"
                                   asp-route-lodowka="@Model.Lodowka"
                                   asp-route-mikrofala="@Model.Mikrofala"
                                   asp-route-kuchniagaz="@Model.KuchniaGaz"
                                   asp-route-kuchniael="@Model.KuchniaEl"
                                   asp-route-pralka="@Model.Pralka"
                                   asp-route-wanna="@Model.Wanna"
                                   asp-route-prysznic="@Model.Prysznic">
                                    @c
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            -
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn button dropdown-toggle" type="button" id="dropdownMenu4"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            @if (Model.CenaDo == null)
                            {
                                <span>--</span>
                            }
                            else
                            {
                                @Model.CenaDo.ToString()
                            }
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li>
                            <a asp-controller="Ogloszenie"
                               asp-action="Index"
                               asp-route-searchString="@Model.SearchStringRoute"
                               asp-route-kategoria="@Model.AktualnaKategoria"
                               asp-route-miasto="@Model.AktualneMiasto"
                               asp-route-cenaod="@Model.CenaOd"
                               asp-route-sortorder="@Model.SortOrderRoute"
                               asp-route-pagesize="@Model.PageSize"
                               asp-route-zmywarka="@Model.Zmywarka"
                               asp-route-lodowka="@Model.Lodowka"
                               asp-route-mikrofala="@Model.Mikrofala"
                               asp-route-kuchniagaz="@Model.KuchniaGaz"
                               asp-route-kuchniael="@Model.KuchniaEl"
                               asp-route-pralka="@Model.Pralka"
                               asp-route-wanna="@Model.Wanna"
                               asp-route-prysznic="@Model.Prysznic">
                                --
                            </a>
                        </li>
                        <li class="divider"></li>
                        @foreach (var c in Model.CenaDoList)
                        {
                            if (c > Model.CenaOd || Model.CenaOd == null)
                            {
                                <li>
                                    <a asp-controller="Ogloszenie"
                                       asp-action="Index"
                                       asp-route-searchString="@Model.SearchStringRoute"
                                       asp-route-kategoria="@Model.AktualnaKategoria"
                                       asp-route-miasto="@Model.AktualneMiasto"
                                       asp-route-cenaod="@Model.CenaOd"
                                       asp-route-cenado="@c"
                                       asp-route-sortorder="@Model.SortOrderRoute"
                                       asp-route-pagesize="@Model.PageSize"
                                       asp-route-zmywarka="@Model.Zmywarka"
                                       asp-route-lodowka="@Model.Lodowka"
                                       asp-route-mikrofala="@Model.Mikrofala"
                                       asp-route-kuchniagaz="@Model.KuchniaGaz"
                                       asp-route-kuchniael="@Model.KuchniaEl"
                                       asp-route-pralka="@Model.Pralka"
                                       asp-route-wanna="@Model.Wanna"
                                       asp-route-prysznic="@Model.Prysznic">
                                        @c
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <h4>Sortuj wedlug:</h4>
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn button dropdown-toggle" type="button" id="dropdownMenu5"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        @Model.SortOrder
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                        @for (int i = 0; i < Model.SortOrderList.Count; i++)
                        {
                            <li>
                                <a asp-controller="Ogloszenie"
                                   asp-action="Index"
                                   asp-route-searchString="@Model.SearchStringRoute"
                                   asp-route-kategoria="@Model.AktualnaKategoria"
                                   asp-route-miasto="@Model.AktualneMiasto"
                                   asp-route-cenaod="@Model.CenaOd"
                                   asp-route-cenado="@Model.CenaDo"
                                   asp-route-sortorder="@i"
                                   asp-route-pagesize="@Model.PageSize"
                                   asp-route-zmywarka="@Model.Zmywarka"
                                   asp-route-lodowka="@Model.Lodowka"
                                   asp-route-mikrofala="@Model.Mikrofala"
                                   asp-route-kuchniagaz="@Model.KuchniaGaz"
                                   asp-route-kuchniael="@Model.KuchniaEl"
                                   asp-route-pralka="@Model.Pralka"
                                   asp-route-wanna="@Model.Wanna"
                                   asp-route-prysznic="@Model.Prysznic">
                                    @Model.SortOrderList[i]
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <h4>Ogloszen na stronie:</h4>
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn button dropdown-toggle" type="button" id="dropdownMenu5"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        @Model.PageSize
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                        @for (int i = 0; i < Model.PageSizeList.Count; i++)
                        {
                            <li>
                                <a asp-controller="Ogloszenie"
                                   asp-action="Index"
                                   asp-route-searchString="@Model.SearchStringRoute"
                                   asp-route-kategoria="@Model.AktualnaKategoria"
                                   asp-route-miasto="@Model.AktualneMiasto"
                                   asp-route-cenaod="@Model.CenaOd"
                                   asp-route-cenado="@Model.CenaDo"
                                   asp-route-sortorder="@Model.SortOrderRoute"
                                   asp-route-pagesize="@Model.PageSizeList[i]"
                                   asp-route-zmywarka="@Model.Zmywarka"
                                   asp-route-lodowka="@Model.Lodowka"
                                   asp-route-mikrofala="@Model.Mikrofala"
                                   asp-route-kuchniagaz="@Model.KuchniaGaz"
                                   asp-route-kuchniael="@Model.KuchniaEl"
                                   asp-route-pralka="@Model.Pralka"
                                   asp-route-wanna="@Model.Wanna"
                                   asp-route-prysznic="@Model.Prysznic">
                                    @Model.PageSizeList[i]
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="LightGrayConteiner">
            <h4>Wyposazenie:</h4>
            <p>
                @{
                    Boolean? zmywarkaRoute = null;
                    if (Model.Zmywarka == true)
                    {
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span>--</span>
                        zmywarkaRoute = true;
                    }
                }
                <a asp-controller="Ogloszenie"
                   asp-action="Index"
                   asp-route-searchString="@Model.SearchStringRoute"
                   asp-route-kategoria="@Model.AktualnaKategoria"
                   asp-route-miasto="@Model.AktualneMiasto"
                   asp-route-cenaod="@Model.CenaOd"
                   asp-route-cenado="@Model.CenaDo"
                   asp-route-sortorder="@Model.SortOrderRoute"
                   asp-route-pagesize="@Model.PageSize"
                   asp-route-zmywarka="@zmywarkaRoute"
                   asp-route-lodowka="@Model.Lodowka"
                   asp-route-mikrofala="@Model.Mikrofala"
                   asp-route-kuchniagaz="@Model.KuchniaGaz"
                   asp-route-kuchniael="@Model.KuchniaEl"
                   asp-route-pralka="@Model.Pralka"
                   asp-route-wanna="@Model.Wanna"
                   asp-route-prysznic="@Model.Prysznic">
                    Zmywarka
                </a>
                <br />
                @{
                    Boolean? lodowkaRoute = null;
                    if (Model.Lodowka == true)
                    {
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span>--</span>
                        lodowkaRoute = true;
                    }
                }
                <a asp-controller="Ogloszenie"
                   asp-action="Index"
                   asp-route-searchString="@Model.SearchStringRoute"
                   asp-route-kategoria="@Model.AktualnaKategoria"
                   asp-route-miasto="@Model.AktualneMiasto"
                   asp-route-cenaod="@Model.CenaOd"
                   asp-route-cenado="@Model.CenaDo"
                   asp-route-sortorder="@Model.SortOrderRoute"
                   asp-route-pagesize="@Model.PageSize"
                   asp-route-zmywarka="@Model.Zmywarka"
                   asp-route-lodowka="@lodowkaRoute"
                   asp-route-mikrofala="@Model.Mikrofala"
                   asp-route-kuchniagaz="@Model.KuchniaGaz"
                   asp-route-kuchniael="@Model.KuchniaEl"
                   asp-route-pralka="@Model.Pralka"
                   asp-route-wanna="@Model.Wanna"
                   asp-route-prysznic="@Model.Prysznic">
                    Lodowka
                </a>
                <br />
                @{
                    Boolean? mikrofalaRoute = null;
                    if (Model.Mikrofala == true)
                    {
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span>--</span>
                        mikrofalaRoute = true;
                    }
                }
                <a asp-controller="Ogloszenie"
                   asp-action="Index"
                   asp-route-searchString="@Model.SearchStringRoute"
                   asp-route-kategoria="@Model.AktualnaKategoria"
                   asp-route-miasto="@Model.AktualneMiasto"
                   asp-route-cenaod="@Model.CenaOd"
                   asp-route-cenado="@Model.CenaDo"
                   asp-route-sortorder="@Model.SortOrderRoute"
                   asp-route-pagesize="@Model.PageSize"
                   asp-route-zmywarka="@Model.Zmywarka"
                   asp-route-lodowka="@Model.Lodowka"
                   asp-route-mikrofala="@mikrofalaRoute"
                   asp-route-kuchniagaz="@Model.KuchniaGaz"
                   asp-route-kuchniael="@Model.KuchniaEl"
                   asp-route-pralka="@Model.Pralka"
                   asp-route-wanna="@Model.Wanna"
                   asp-route-prysznic="@Model.Prysznic">
                    Mikrofalowka
                </a>
                <br />
                @{
                    Boolean? kuchniaGazRoute = null;
                    if (Model.KuchniaGaz == true)
                    {
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span>--</span>
                        kuchniaGazRoute = true;
                    }
                }
                <a asp-controller="Ogloszenie"
                   asp-action="Index"
                   asp-route-searchString="@Model.SearchStringRoute"
                   asp-route-kategoria="@Model.AktualnaKategoria"
                   asp-route-miasto="@Model.AktualneMiasto"
                   asp-route-cenaod="@Model.CenaOd"
                   asp-route-cenado="@Model.CenaDo"
                   asp-route-sortorder="@Model.SortOrderRoute"
                   asp-route-pagesize="@Model.PageSize"
                   asp-route-zmywarka="@Model.Zmywarka"
                   asp-route-lodowka="@Model.Lodowka"
                   asp-route-mikrofala="@Model.Mikrofala"
                   asp-route-kuchniagaz="@kuchniaGazRoute"
                   asp-route-kuchniael="@Model.KuchniaEl"
                   asp-route-pralka="@Model.Pralka"
                   asp-route-wanna="@Model.Wanna"
                   asp-route-prysznic="@Model.Prysznic">
                    Kuchnia Gazowa
                </a>
                <br />
                @{
                    Boolean? kuchniaElRoute = null;
                    if (Model.KuchniaEl == true)
                    {
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span>--</span>
                        kuchniaElRoute = true;
                    }
                }
                <a asp-controller="Ogloszenie"
                   asp-action="Index"
                   asp-route-searchString="@Model.SearchStringRoute"
                   asp-route-kategoria="@Model.AktualnaKategoria"
                   asp-route-miasto="@Model.AktualneMiasto"
                   asp-route-cenaod="@Model.CenaOd"
                   asp-route-cenado="@Model.CenaDo"
                   asp-route-sortorder="@Model.SortOrderRoute"
                   asp-route-pagesize="@Model.PageSize"
                   asp-route-zmywarka="@Model.Zmywarka"
                   asp-route-lodowka="@Model.Lodowka"
                   asp-route-mikrofala="@Model.Mikrofala"
                   asp-route-kuchniagaz="@Model.KuchniaGaz"
                   asp-route-kuchniael="@kuchniaElRoute"
                   asp-route-pralka="@Model.Pralka"
                   asp-route-wanna="@Model.Wanna"
                   asp-route-prysznic="@Model.Prysznic">
                    Kuchnia Elektryczna
                </a>
                <br />
                @{
                    Boolean? pralkaRoute = null;
                    if (Model.Pralka == true)
                    {
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span>--</span>
                        pralkaRoute = true;
                    }
                }
                <a asp-controller="Ogloszenie"
                   asp-action="Index"
                   asp-route-searchString="@Model.SearchStringRoute"
                   asp-route-kategoria="@Model.AktualnaKategoria"
                   asp-route-miasto="@Model.AktualneMiasto"
                   asp-route-cenaod="@Model.CenaOd"
                   asp-route-cenado="@Model.CenaDo"
                   asp-route-sortorder="@Model.SortOrderRoute"
                   asp-route-pagesize="@Model.PageSize"
                   asp-route-zmywarka="@Model.Zmywarka"
                   asp-route-lodowka="@Model.Lodowka"
                   asp-route-mikrofala="@Model.Mikrofala"
                   asp-route-kuchniagaz="@Model.KuchniaGaz"
                   asp-route-kuchniael="@Model.KuchniaEl"
                   asp-route-pralka="@pralkaRoute"
                   asp-route-wanna="@Model.Wanna"
                   asp-route-prysznic="@Model.Prysznic">
                    Pralka
                </a>
                <br />
                @{
                    Boolean? wannaRoute = null;
                    if (Model.Wanna == true)
                    {
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span>--</span>
                        wannaRoute = true;
                    }
                }
                <a asp-controller="Ogloszenie"
                   asp-action="Index"
                   asp-route-searchString="@Model.SearchStringRoute"
                   asp-route-kategoria="@Model.AktualnaKategoria"
                   asp-route-miasto="@Model.AktualneMiasto"
                   asp-route-cenaod="@Model.CenaOd"
                   asp-route-cenado="@Model.CenaDo"
                   asp-route-sortorder="@Model.SortOrderRoute"
                   asp-route-pagesize="@Model.PageSize"
                   asp-route-zmywarka="@Model.Zmywarka"
                   asp-route-lodowka="@Model.Lodowka"
                   asp-route-mikrofala="@Model.Mikrofala"
                   asp-route-kuchniagaz="@Model.KuchniaGaz"
                   asp-route-kuchniael="@Model.KuchniaEl"
                   asp-route-pralka="@Model.Pralka"
                   asp-route-wanna="@wannaRoute"
                   asp-route-prysznic="@Model.Prysznic">
                    Wanna
                </a>
                <br />
                @{
                    Boolean? prysznicRoute = null;
                    if (Model.Prysznic == true)
                    {
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span>--</span>
                        prysznicRoute = true;
                    }
                }
                <a asp-controller="Ogloszenie"
                   asp-action="Index"
                   asp-route-searchString="@Model.SearchStringRoute"
                   asp-route-kategoria="@Model.AktualnaKategoria"
                   asp-route-miasto="@Model.AktualneMiasto"
                   asp-route-cenaod="@Model.CenaOd"
                   asp-route-cenado="@Model.CenaDo"
                   asp-route-sortorder="@Model.SortOrderRoute"
                   asp-route-pagesize="@Model.PageSize"
                   asp-route-zmywarka="@Model.Zmywarka"
                   asp-route-lodowka="@Model.Lodowka"
                   asp-route-mikrofala="@Model.Mikrofala"
                   asp-route-kuchniagaz="@Model.KuchniaGaz"
                   asp-route-kuchniael="@Model.KuchniaEl"
                   asp-route-pralka="@Model.Pralka"
                   asp-route-wanna="@Model.Wanna"
                   asp-route-prysznic="@prysznicRoute">
                    Prysznic
                </a>
            </p>

            @if (Model.Zmywarka != true || Model.Lodowka != true || Model.Mikrofala != true ||
                Model.KuchniaGaz != true || Model.KuchniaEl != true || Model.Pralka != true || Model.Wanna != true)
            {

                <a class="btn button" style="margin-top:5px; margin-bottom:5px;"
                   asp-action="Index"
                   asp-route-searchString="@Model.SearchStringRoute"
                   asp-route-kategoria="@Model.AktualnaKategoria"
                   asp-route-miasto="@Model.AktualneMiasto"
                   asp-route-cenaod="@Model.CenaOd"
                   asp-route-cenado="@Model.CenaDo"
                   asp-route-sortorder="@Model.SortOrderRoute"
                   asp-route-pagesize="@Model.PageSize"
                   asp-route-zmywarka=@true
                   asp-route-lodowka=@true
                   asp-route-mikrofala=@true
                   asp-route-kuchniagaz=@true
                   asp-route-kuchniael=@true
                   asp-route-pralka=@true
                   asp-route-wanna=@true
                   asp-route-prysznic=@true>
                    Zaznacz wszystkie
                </a>
            }

            @if (Model.Zmywarka == true || Model.Lodowka == true || Model.Mikrofala == true ||
                Model.KuchniaGaz == true || Model.KuchniaEl == true || Model.Pralka == true || Model.Wanna == true)
            {
                <a class="btn button" style="margin-top:5px; margin-bottom:5px;"
                   asp-action="Index"
                   asp-route-searchString="@Model.SearchStringRoute"
                   asp-route-kategoria="@Model.AktualnaKategoria"
                   asp-route-miasto="@Model.AktualneMiasto"
                   asp-route-cenaod="@Model.CenaOd"
                   asp-route-cenado="@Model.CenaDo"
                   asp-route-sortorder="@Model.SortOrderRoute"
                   asp-route-pagesize="@Model.PageSize"
                   asp-route-zmywarka=@null
                   asp-route-lodowka=@null
                   asp-route-mikrofala=@null
                   asp-route-kuchniagaz=@null
                   asp-route-kuchniael=@null
                   asp-route-pralka=@null
                   asp-route-wanna=@null
                   asp-route-prysznic=@null>
                    Odznacz wszystkie
                </a>
            }
        </div>

        <div class="LightGrayConteiner">
            <a asp-action="Create" asp-controller="Ogloszenie" class="btn button-purple-lg">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Dodaj ogloszenie
            </a>
        </div>

    </div> @* left navbar *@

    @* ----------- lista ogloszen ------------- *@
    <div class="col-md-8">
        
        @Html.Partial("_OgloszenieTablePartial", Model.Ogloszenia)

        <div style="text-align:center">
            <pager source="Model.Ogloszenia" />
        </div>

    </div> @* lista ogloszen *@

</div>


