@model Ogloszenie

@{

    if (Model.Miniature == null)
    {
        ViewData["imgSrc"] = "~/images/defaultoglphoto.png";
    }
    else
    {
        var base64 = Convert.ToBase64String(Model.Miniature);
        ViewData["imgSrc"] = String.Format("data:image/gif;base64,{0}", base64);
    }
}

<div class="col-md-4" style="min-height:300px; text-align:center">

    <img src='@ViewData["imgSrc"]' class="img-rounded" style="width:100%; height:260px;" asp-append-version="true" />
    <a asp-controller="Ogloszenie" asp-action="Details" asp-route-id="@Model.OgloszenieId"><h4 style="color:#358796;"><strong>@Model.Tytul</strong> </h4></a>

    <div>
        <p>
            Lokalizacja:
            <a asp-controller="Ogloszenie" asp-action="Index" asp-route-miasto="@Model.Miasto.Nazwa">@Model.Miasto.Nazwa</a>
            <br />
            Kategoria:
            <a asp-controller="Ogloszenie" asp-action="Index" asp-route-kategoria="@Model.Kategoria.Nazwa">@Model.Kategoria.Nazwa</a>
            <br />
            Cena: <strong>@Model.Cena</strong>
            <br />
            <br />
            @Html.DisplayFor(modelItem => Model.DataDodania)
            <br />
            <br />
        </p>
    </div>

</div>